# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\STUDY\Python_kurs\scrap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
